@model LCA_WEB.Models.Produkt_Typ_Rohstoff_Indikator
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string wert = "";
    string Name = "";
    var asdasdas = ViewBag.DataPoints;
   // for (int i = 0; i <asdasdas.)
}

<h2>Produkt @Html.DisplayFor(model => model._Produkt.Name)</h2>

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table id="tb_0">
        <tr>
            <th>Nutzungsdauer:</th>
            <th>Gesamtgewicht:</th>
            <th>Produkttyp:</th>
            <th>Anlagedatum:</th>
            <th>Änderungsdatum:</th>
            <th>Angelegt von:</th>
            <th>Geändert von:</th>
        </tr>
        <tr class="center-block">
            <td>
                @Html.DisplayFor(model => model._Produkt.Nutzungsdauer_in_Jahre)
            </td>
            <td>
                @Html.DisplayFor(model => model._Produkt.Gesamtgewicht)
            </td>
            <td>
                @Html.DisplayFor(model => model._ProduktTyp.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model._Produkt.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(model => model._Produkt.DateOfChanging)
            </td>
            <td>
                @Html.DisplayFor(model => model._Produkt.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(model => model._Produkt.ChangedBy)
            </td>
        </tr>
    </table>
    <hr />
    <h2>Rohstoffe des Objektes</h2>
    <table id="tb_1">
        <tr>
            <th>Beschreibung:</th>
            <th>Menge:</th>
            <th>Einheit:</th>
            <th>Umweltinkatoren</th>
        </tr>
        
            @for (int j = 0; j < Model._lRohstoff.Count; j++)
            {
                <tr>
                     <td>@Html.DisplayFor(model => model._Rohstoffe.FirstOrDefault(i => i.Id == Model._lRohstoff.ElementAt(j).Rohstoff_Id).Name)</td>
                     <td>@Html.DisplayFor(model => model._lRohstoff.FirstOrDefault(i => i.Id == Model._lRohstoff.ElementAt(j).Id).Menge)</td>
                     <td>t</td>
                    <td>
                        <table>
                          @*  @if (j == 0)*@
                            @* { *@
                            <tr>
                                <th>Umweltindikator:</th>
                                <th>Umweltindikator Wert:</th>
                                <th>Scope:</th>
                            </tr>
                            @* } *@
                            @for (int i = 0; i < Model._lUmweltindi.Count; i++)
                            {
                                if (Model._lRohstoff.ElementAt(j).Id != Model._lUmweltindi.ElementAt(i).Rohstoff_Id)
                                {
                                <tr>
                                    <td>@Html.DisplayFor(model => model._LIndikator.FirstOrDefault(m => m.Id == Model._lUmweltindi.ElementAt(i).Umweltindikator_Id).Name)</td>
                                    <td>@Html.DisplayFor(model => model._lUmweltindi.ElementAt(i).Wert)</td>
                                    <td>@Html.DisplayFor(model => model._LIndikator.FirstOrDefault(m => m.Id == Model._lUmweltindi.ElementAt(i).Umweltindikator_Id).Scope)</td>
                                </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
            }
                
        @*<tr>
            <td>
                @Html.DisplayFor(model => model._Rohstoffe.FirstOrDefault(i => i.Id == model._Rohstoff.Rohstoff_Id).Name)
            </td>
            <td>
               @Html.DisplayFor(model => model._Rohstoff.Menge_in_t) 
            </td>
            <td>
                t
            </td>
            <td>
                @Html.DisplayFor(model => model._LIndikator.FirstOrDefault(i => i.Id == model._Umweltindikatorwert.Umweltindikator_Id).Name)
            </td>
            <td>
                @Html.DisplayFor(model => model._Umweltindikatorwert.Wert)
            </td>
            <td>
                @Html.DisplayFor(model => model._LIndikator.FirstOrDefault(i => i.Id == model._Umweltindikatorwert.Umweltindikator_Id).Scope)
            </td>
        </tr>*@
    </table>
    <hr />
    <div id="chartContainer" style="width: 75%; height: 300px"></div>
    <script type="text/javascript">

        window.onload = function () {
            var sd = @Html.Raw(Json.Encode(ViewBag.DataPoints));
            
                var chart = new CanvasJS.Chart("chartContainer", {
                    //  $("#chartContainer").CanvasJSChart({
                    title: {
                        text: "Herstellungsphase"
                    },
                    axisY: {
                        title: ""
                    },

                    data: [{
                        type: "column",
                        dataPoints: @Html.Raw(ViewBag.DataPoints)
                          }]
            });
            chart.render();
        };
    </script>
</div>
